# 目前China速度最快
registry=https://registry.npmmirror.com
# strict-ssl：控制是否在连接注册表时使用 SSL 认证。对于一些内部注册表，如果不需要 SSL，可以设置为 false
strict-ssl=false
# package-lock：控制是否在项目中生成 package-lock.json 文件。默认是 true，但如果不需要可以设置为 false
package-lock=false
# save-exact：在安装依赖时是否固定具体的版本号。如果设为 true，安装时 package.json 中的依赖项将会带有具体版本号而非 ^ 或 ~
save-exact=true